# vi:set filetype=toml:

[tools]
node = { version = "latest" , postinstall = "npm install -g pnpm"}
"npm:eslint" = "latest"
"npm:typescript" = "latest"
"npm:jsonlint" = "latest"
"npm:prettier" = "latest"
"npm:typescript-language-server" = "latest"
"npm:yaml-language-server" = "latest"
"npm:bash-language-server" = "latest"
"npm:vscode-langservers-extracted" = "latest"  # covers html, css, json
"npm:@tailwindcss/language-server" = "latest"
"npm:svelte-language-server" = "latest"
"npm:@vue/language-server" = "latest"
"npm:emmet-language-server" = "latest"
"npm:pyright" = "latest"
lua-language-server = "latest"
marksman = "latest"
markdownlint-cli2 = "latest"

python = { version = "latest" , postinstall = "pip install pipx"}
"pipx:python-lsp-server" = "latest"
"pipx:uvicorn" = "latest"
"pipx:visidata" = "latest"

go = "latest"
"go:golang.org/x/tools/gopls" = "latest"

{{- if eq .chezmoi.os "linux" }}
btop = "latest"
{{- end }}
rust = "latest"
opencode = "latest"
shellcheck = "latest"
shfmt = "latest"
stylua = "latest"
neovim = "latest"
fzf = "latest"
zoxide = "latest"
yazi = "latest"
yt-dlp = "latest"
pandoc = "latest"
taplo = "latest"
ripgrep = "latest"
fd = "latest"
ruff = "latest"
lazygit = "latest"

[settings]

[settings.npm]
package_manager = "pnpm"
